//main: styles.scss

body{
font-family: $font-default;
}

section {
  padding-top: 160px;
  padding-bottom: 168px;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;

}

h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

p {
  font-size: 22px;
  line-height: 28px;
}

a {
  color: $color1;

  &:hover {
    color: $color4;
    text-decoration: underline;
  }
}

ul {
  li {
    font-size: 20px;
    line-height: 26px;
    list-style: square;
  }
}


/***************************** MATERIAL ICONS ************************/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
