//main: styles.scss

.open {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;

  .layer {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-origin: top;
   animation: open 1s ease-in-out forwards;

   &:nth-child(1) {
   	background: $color6;
   	z-index: 2;
   }
   &:nth-child(2) {
   	background: $color1;
   	animation-delay: 1s;
   	z-index: 1;
   }
 }

 @keyframes open {
 	0%
 	{
 		transform: scaleY(1);
 	}
 	100%
 	{
 		transform: scaleY(0);
 	}
 }
}


.hero {

  background-image:  url('../img/hero-back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include phone {
    background: $color1;
  }

  animation-delay: 1.75s;

  .hero-text {
    text-align: left;

    @include phone {
      text-align: center;
    }

    margin-left: -80px;

    @include b-desktop {
      margin-left: 0px;
    }

    h1 {
      color: $color4;

      padding-top: 80px;
      padding-bottom: 40px;

      @include b-desktop {
        padding-top: 160px;
      }
    }

    h3 {
      color: $color5;

      padding-bottom: 48px;

      @include b-desktop {
        padding-bottom: 100px;
      }
    }
  }
}

.o-nas {
  text-align: justify;

  @include phone {
    text-align: justify;
  }


  h2 {
		@include phone {
			text-align: center;
		}
    padding-bottom: 40px;
  }


  ul {

    @include phone {
      text-align: left;
    }

    li {
      padding-bottom: 16px;
    }
  }


  img {
    width: 100%;
    height: auto;

    padding-top: 220px;

    @include b-desktop {
      margin-left: -10%;

      padding-top: 100px;
    }

    @include mobile-devices {
      margin-left: -20;
    }

    @include phone {
      display: none;
    }
  }
}

.sluzby {
  text-align: justify;
  background-color: $color6;

  @include b-desktop {
    text-align: center;
  }

  h2 {
    padding-bottom: 40px;
  }

  p {
    padding-bottom: 40px;
  }

  ul {
    li {
      padding-bottom: 16px;

      @include b-desktop {
        text-align: justify;
      }

      @include phone {
        text-align: left;
        font-size: 12px;
      }

    }
  }

  .accordion {

    h2 {
      padding-bottom: 0px;

    }

    .card {
    }

    .card-header {
      background-color: $color5;
      border-bottom: none;
    }

    .btn-link {
      font-size: 22px;
      font-weight: bold;

      @include phone {
        font-size: 11px;
      }

      @include xxs-phone {
        font-size: 10px;
        margin-left: -8px;
      }


      color: $color1;
    }
  }
}

.referencie {
  text-align: center;
  background-color: $color1;
  color: $color5;

  h2 {
    padding-bottom: 40px;
  }

  .ref {

    a {
      display: table-cell;
      text-align: center;
      width: 300px;
      height: 300px;
      vertical-align: middle;

      img {
        width: 80%;
        height: auto;
      }
    }
  }
}

.poradna {
  text-align: center;
  background-color: $color5;

  h2 {
    padding-bottom: 40px;
  }

  p {
    padding-bottom: 40px;
  }

  .poradna-2 {
    text-align: justify;

    @include phone {
      margin-left: 0%;
    }

    @include xxs-phone {
      text-align: left;
    }

    h3 {
      padding-bottom: 24px;
    }

    li {
      padding-bottom: 16px;
    }
  }

  .odkazy {
    text-align: justify;

    @include phone {
      text-align: center;
      margin-left: 0%;
    }

    h3 {
      padding-top: 28px;
      padding-bottom: 36px;
    }

    img {
      width: 80%;
      height: auto;

      padding-bottom: 40px;

      @include phone {
        width: 50%;
        margin-bottom: 20px;
      }
    }
  }
}

.galeria {
  text-align: center;
  background-color: $color1;
  color: $color5;

  h2 {
    padding-bottom: 40px;

    @include b-desktop {
      padding-bottom: 0px;
    }
  }


  .trans
  {
  	transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	-webkit-transition: all 1s ease;
  }
  .top
  {
  	width: 80vw;
  	height: 80vh;
  	margin-top: 5vh;
  	margin-bottom: 10vh;
    margin-left: -4vw;


		@media (min-width: 2400px) and (max-width: 2499px){
			width: 65vw;
			height: 55vh;
		}

		@media (min-width: 2300px) and (max-width: 2399px){
			width: 68vw;
			height: 55vh;
		}

		@media (min-width: 2200px) and (max-width: 2299px){
      width: 71vw;
      height: 55vh;
    }

		@media (min-width: 2100px) and (max-width: 2199px){
      width: 77vw;
      height: 56vh;
    }

    @media (min-width: 2000px) and (max-width: 2099px){
      width: 77vw;
      height: 53vh;
    }

    @media (min-width: 1900px) and (max-width: 1999px) {
      width: 85vw;
      height: 50vh;
    }

    @media (min-width: 1800px) and (max-width: 1899px) {
      width: 85vw;
      height: 50vh;
    }

    @media (min-width: 1700px) and (max-width: 1799px) {
      width: 95vw;
      height: 50vh;
    }

    @media (min-width: 1600px) and (max-width: 1699px) {
      width: 100vw;
      height: 50vh;
    }

    @media (min-width: 1500px) and (max-width: 1599px) {
      width: 105vw;
      height: 50vh;
    }

    @media (min-width: 1400px) and (max-width: 1499px) {
      width: 108vw;
      height: 50vh;
    }

    @media (min-width: 1300px) and (max-width: 1399px) {
      width: 115vw;
      height: 50vh;
    }


    @include b-desktop {
      width: 95vw;
      height: 45vh;
    }

    @include phone {
      height: 25vh;
    }

    @include xxs-phone {
      width: 88vw;
    }

  }
  .top ul
  {
  	list-style: none;
  	width: 80%;
  	height: 100%;
  	z-index: 1;
  	box-sizing: border-box;

    @include b-desktop {
      width: 100%;
      height: 100%;
    }
  }
  .top ul li
  {
  	position: relative;
  	float: left;
  	width: 25%;
  	height: 25%;
  	overflow: hidden;

  }

  .top ul li::before
  {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: #000;
  	content: '';
  	color: white;
  	opacity: 0.4;
  	text-align: center;
  	box-sizing: border-box;
  	pointer-events: none;
  	transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  }
  .top ul li:hover::before
  {
  	opacity: 0;
  	background-color: rgba(0,0,0,0.90);
  }
  .top ul li img
  {
  	width: 100%;
  	height: auto;
  	overflow: hidden;
  }
  .lightbox
  {
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	top: 0;
  	left: 0;
  	background-color: rgba(0,0,0,0.75);
  	z-index: 999;
  	opacity: 0;
  	pointer-events: none;
  }
  .lightbox img
  {
  	max-width: 90%;
  	max-height: 80%;
  	position: relative;
  	top: -100%;
  	/* Transition */
  	transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	-webkit-transition: all 1s ease;
  }
  .lightbox:target
  {
  	outline: none;
  	top: 0;
  	opacity: 1;
  	pointer-events: auto;
  	transition: all 1.2s ease;
  	-moz-transition: all 1.2s ease;
  	-ms-transition: all 1.2s ease;
  	-o-transition: all 1.2s ease;
  	-webkit-transition: all 1.2s ease;
  }
  .lightbox:target img
  {
  	top: 0;
  	top: 50%;
  	transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  }
}

.cennik {
  text-align: justify;


  h2 {
    padding-bottom: 40px;

    @include b-desktop {
      text-align: center;
    }
  }


  li {
    padding-bottom: 16px;
  }
}

.kontakt {
  text-align: center;
  background-color: $color6;

  h2 {
    padding-bottom: 60px;

    @include phone {
      padding-bottom: 30px;
    }

  }

  h4 {
    text-align: left;

    font-weight: bold;

    padding-top: 28px;
    padding-bottom: 20px;

      @include phone {
        font-size: 20px;
        text-align: center;
      }
  }

  p {
    padding-bottom: 20px;
  }

  .najdete-nas {
    text-align: left;

    @include phone {
      text-align: center;
    }


    h3 {
      padding-top: 20px;
      padding-bottom: 32px;
    }

    .map {
		 	iframe {
				@include b-desktop {
					width: 110%!important;
				}

				@include mobile-devices {
					width: 100%!important;
				}

				@include phone {
					width: 100%!important;
				}
			}
    }
  }

  .contact {
    text-align: left;

    @include phone {
      text-align: center;
    }


    padding-top: 40px;

    p {
      padding-bottom: 0;

      @include mobile-devices {
        font-size: 14px;
      }
    }


    .contact-1 {
      padding-bottom: 40px;
    }
  }

  .form {
    padding-top: 40px;

    @include mobile-devices {
      max-width: 45%;
    }

    @include phone {
      max-width: 100%;
    }

  }
}

/*
*
*
*
*
*
*
*
*
*
*
*/
